.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-color: rgb(145, 197, 244);
}
.nav-bar ul{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-bar ul li{
    color: black;
    font-weight: 600;
}
.nav-bar ul li a{
    color: black;
}
